.yw-link{
	line-height: normal;
	.underscore{
		position: relative;
		width: 100%;
		display: 'block';
		height: 2px;
		background-color: white;
		top: 10px;
		opacity: 0;
		transition: all .2s ease-out;
	}
	&:hover{
		.underscore{
			top: 2px;
			opacity: 0.33;
		}
	}
}
