<div class="feature-page">
	<div id="feature-navi-screen">
		<div class="navi-section">
			<div class="navi-row">
				<div class="col">
					<i class="glyphicon glyphicon-user"></i>
					记账专家
				</div><div class="col">
					<i class="glyphicon glyphicon-refresh"></i>
					简单、安全的分享数据
				</div><div class="col">
					<i class="glyphicon glyphicon-lock"></i>
					银行级安全
				</div>
			</div>
			<div class="navi-row">
				<div class="col">
					<i class="glyphicon glyphicon-book"></i>
					交互财务报表
				</div><div class="col">
					<i class="glyphicon glyphicon-comment"></i>
					灵活的交流方式
				</div><div class="col">
					<i class="glyphicon glyphicon-cloud"></i>
					线上文件管理
				</div>
			</div>
		</div>
	</div>
</div>
