<div class="feature-page" yw-feature>
	<div id="feature-navi-screen">
		<div class="navi-section">
			<div class="navi-row">
				<div class="col">
					<i class="glyphicon glyphicon-user"></i>
					记账专家
				</div><div class="col">
					<i class="glyphicon glyphicon-refresh"></i>
					简单、安全的分享数据
				</div><div class="col">
					<i class="glyphicon glyphicon-lock"></i>
					银行级安全
				</div>
			</div>
			<div class="navi-row">
				<div class="col">
					<i class="glyphicon glyphicon-book"></i>
					交互财务报表
				</div><div class="col">
					<i class="glyphicon glyphicon-comment"></i>
					灵活的交流方式
				</div><div class="col">
					<i class="glyphicon glyphicon-cloud"></i>
					线上文件管理
				</div>
			</div>
		</div>
	</div>
	
	<div yw-feature-section title="记账专家" icon-class="glyphicon-user">
		<div class="brief">选择青智唯嘉，您得到的不仅是软件，您同时也将得到一位经验丰富并且胜任的专家为您记账。</div>
		<div class="">
			<div class="col col50">
				<i class="glyphicon glyphicon-folder-close"></i><h3 class="feature-title">加密</h3>
				<div class="feature-info">
					<p>青智唯嘉采用银行级256位加密，以保证若用户使用不安全网络或公共无线网络连接时数据无法被读取。所有的数据将被加密保存在密匙滚动变换的安全服务器上。</p>
				</div>
			</div><div class="col col50">
				<i class="glyphicon glyphicon-user"></i><h3 class="feature-title">物理保存</h3>
				<div class="feature-info">
					<p>青智唯嘉使用阿里云安全存储设备来保存数据，这些设备分处在高级别的安全控制之下，需要严格的身份识别才可以进入设备所在区域。</p>
				</div>
			</div>
        
		</div>
		<div>
			<h3>青智唯嘉的保证</h3>
			<p>我们会向您推荐最适合您业务的服务，为了确保通用性，我们会向您提供免费的财务报表，使您有机会无风险的体验我们的服务，并让我们更好的理解您的记账需求。</p>
		</div>
	</div>
	<div yw-feature-section title="简单、安全的分享数据" class="section-odd" icon-class="glyphicon-refresh">
		<div class="brief">从青智唯嘉获取您的财务数据非常简单，从银行对账单到收据、支票---我们使这个过程简单易行。</div>
		<div class="">
			<div class="col">
				<i class="glyphicon glyphicon-link"></i><h3 class="feature-title">与银行账户和支付宝连接</h3>
				<div class="feature-info">
					<p>将您的账户与青智唯嘉连接只需少于五分钟</p>
					<div class="payment-steps">
						<div class="circle">1.</div><div class="circle">2.</div><div class="circle"><i class="glyphicon glyphicon-ok"></i></div><div class="line"></div>
					</div>
					<div>
						<div class="payment-col"><h5>设置银行卡</h5>
						青智唯嘉将与国内大多数银行进行系统连接，也包括支付宝。
						</div><div class="payment-col"><h5>安全登录</h5>
						青智唯嘉采用256位加密方式来提供安全的银行连接。
						</div><div class="payment-col"><h5>完成</h5>
						您的账户设置完成后，账户信息将在几分钟内导入完成。
						</div>
					</div>
				</div>
			</div><div class="col">
				<i class="glyphicon glyphicon-cloud-upload"></i><h3 class="feature-title">文件上传</h3>
				<div class="feature-info">
					<p>您有三个途径向青智唯嘉的记账专家传送文件</p>
					<i class="glyphicon glyphicon-share"></i><p class="upload-method">
						直接拖拽您的电脑文件到青智唯嘉的应用程序中
					</p><br/>
					<i class="glyphicon glyphicon-envelope"></i><p class="upload-method">
						直接向您的记账专家转发邮件和报表
					</p><br/>
					<i class="glyphicon glyphicon-export"></i><p class="upload-method">
						用快递直接寄送大量的纸质文件
					</p>
				</div>
			</div>
        
		</div>
	</div>
	<div yw-feature-section title="银行级安全"  icon-class="glyphicon-lock">
		<div class="brief">财务数据是极其敏感的数据，因此，我们将采用多种措施以确保数据的安全。</div>
		<br/>
		<div class="col col33">
			<i class="glyphicon glyphicon-compressed"></i><h3 class="feature-title">加密</h3>
			<div class="feature-info">
			青智唯嘉采用银行级256位加密，以保证若用户使用不安全网络或公共无线网络连接时数据无法被读取。所有的数据将被加密保存在密匙滚动变换的安全服务器上。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-hdd"></i><h3 class="feature-title">物理保存</h3>
			<div class="feature-info">
			青智唯嘉使用阿里云安全存储设备来保存数据，这些设备分处在高级别的安全控制之下，需要严格的身份识别才可以进入设备所在区域。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-record"></i><h3 class="feature-title">背景调查</h3>
			<div class="feature-info">
			青智唯嘉坚信信息安全尤其重要，所以我们会对每一个员工进行犯罪记录调查、面试和培训以保证我们的信息安全和信誉。
			</div>
		</div>
	</div>
	<div yw-feature-section title="交互财务报表" class="section-odd" icon-class="glyphicon-book">
		<div class="brief">我们向您提供交互月度利润表和资产负债表，使您深入了解至每笔交易和收据构成财务报表的细节。</div>
		<br/>
		<div class="col col33">
			<i class="glyphicon glyphicon-tasks"></i><h3 class="feature-title">资产表</h3>
			<div class="feature-info">
			青智唯嘉采用银行级256位加密，以保证若用户使用不安全网络或公共无线网络连接时数据无法被读取。所有的数据将被加密保存在密匙滚动变换的安全服务器上。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-list-alt"></i><h3 class="feature-title">资产表</h3>
			<div class="feature-info">
			青智唯嘉使用阿里云安全存储设备来保存数据，这些设备分处在高级别的安全控制之下，需要严格的身份识别才可以进入设备所在区域。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-cloud-download"></i><h3 class="feature-title">导出至Excell</h3>
			<div class="feature-info">
			青智唯嘉坚信信息安全尤其重要，所以我们会对每一个员工进行犯罪记录调查、面试和培训以保证我们的信息安全和信誉。
			</div>
		</div>
	</div>
	<div yw-feature-section title="灵活的交流方式"  icon-class="glyphicon-comment">
		<div class="brief">无论您喜欢电话、邮件或通过应用程序交流---我们使您和青智唯嘉记账专家的交流更为便捷。</div>
		<br/>
	</div>
	<div yw-feature-section title="线上文件管理" class="section-odd" icon-class="glyphicon-cloud">
		<div class="brief">无纸化---我们电子化存储和整理您的纸质文件并将它们和您的公司银行账户直接连接。</div>
		<br/>
		<div class="col col33">
			<i class="glyphicon glyphicon-cloud"></i><h3 class="feature-title">无纸化</h3>
			<div class="feature-info">
			青智唯嘉采用银行级256位加密，以保证若用户使用不安全网络或公共无线网络连接时数据无法被读取。所有的数据将被加密保存在密匙滚动变换的安全服务器上。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-book"></i><h3 class="feature-title">文档管理</h3>
			<div class="feature-info">
			青智唯嘉使用阿里云安全存储设备来保存数据，这些设备分处在高级别的安全控制之下，需要严格的身份识别才可以进入设备所在区域。
			</div>
		</div>
		<div class="col col33">
			<i class="glyphicon glyphicon-search"></i><h3 class="feature-title">易搜索</h3>
			<div class="feature-info">
			青智唯嘉坚信信息安全尤其重要，所以我们会对每一个员工进行犯罪记录调查、面试和培训以保证我们的信息安全和信誉。
			</div>
		</div>
	</div>
	
</div>
<div id="screen-signup2" ng-include="'views/sign-up2-screen.html'" class="screen"></div>
