<!doctype html>
<html ng-app="ywLanding">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Qingzhi | Youngwisdom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="liujing.break@gmail.com">
		<link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/dist/styles/youngwisdom.css">
		<script type="text/javascript" src="/vendor/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/vendor/modernizr.custom.87166.js"></script>
		<script type="text/javascript" src="/vendor/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="/vendor/angularjs/angular-route.min.js"></script>
		<script type="text/javascript" src="/js/i18n/text-zh-CN.js"></script>
		<script type="text/javascript" src="/dist/js/youngwisdom.js"></script>
	</head>
	<body ng-controller="main" yw-scrollable>
		<div class="header">
			<a class="logo" href="/">{{t.logoText}}</a>
			<div class="nav">
				<a class="yw-link" href="/">{{t.home_page}}</a>
				<a class="yw-link" href="/#/feature" >{{t.feature}}</a>
				<a class="yw-link" href="/#/signup" >{{t.signup}}</a>
				<a class="yw-link" href="/#/community" >{{t.community}}</a>
				<a class="yw-link" href="/#/signin" >{{t.signin}}</a>
				<a class="yw-link" href="/#/team" >{{t.team}}</a>
			</div>
		</div>
		<!--{{random}}-->
		<div id="screen-signup" ng-include="'views/sign-up-screen.html'" class="screen"></div>
		<div id="screen-intro" ng-include="'views/intro-screen.html'" class="screen"></div>
		<div id="screen-what" ng-include="'views/what-screen.html'" class="screen"></div>
		<div id="screen-comments" ng-include="'views/comments-screen.html'" class="screen"></div>
		<script type="text/javascript" src="/vendor/lodash.min.js"></script>
		<script type="text/javascript" src="/vendor/TweenMax.min.js"></script>
		<script type="text/javascript" src="/vendor/raphael-min.js"></script>
		<script type="text/javascript" src="/vendor/velocity.min.js"></script>
	</body>
</html>
