<div class="content">
	<h1>通过青智唯嘉</h1>
	<br/>
	<br/>
	<p>
	您可以获得专业的线上会计和税务人员为您准备财务和税务报表，您可以通过简洁易用的软件直接审阅报表。
	</p>
	<div class="background"></div>
	<div class="timeline-section">
		<div class="timeline">
			<div class="anim-timeline"></div>
			<div class="line-dot" style="left:0"></div>
			<div class="line-dot" style="left:33%"></div>
			<div class="line-dot" style="left:67%"></div>
			<div class="line-dot" style="left:100%"></div>
			<i style="left: 0" class="glyphicon glyphicon-heart-empty"></i>
			<i style="left: 33%" class="glyphicon glyphicon-user"></i>
			<i style="left: 67%" class="glyphicon glyphicon-refresh"></i>
			<i style="left: 100%" class="glyphicon glyphicon-saved"></i>
		</div>
		
	</div>
	<div class="steps">
		<div class="step">
			<h3>免费试用</h3>
			<p>免费试用一个月，您无需承担任何风险。我们的服务将向您证明青智唯嘉是您的最优选择。</p>
		</div><div class="step">
			<h3>专属人员</h3>
			<p>将有您的专属会计人员深入了解您的业务、及时解决您的疑问，为您记账和报税。</p>
		</div><div class="step">
			<h3>操作简便</h3>
			<p>员工通过微信平台手机拍照上传发票报销，企业主通过我们的网站/APP审批,月末由企业出纳邮寄本月发票给我们作账。搞定财税就是那么简单。</p>
		</div><div class="step">
			<h3>为您解忧</h3>
			<p>不用再为财税烦恼，我们将保证您获得及时准确的财务报表，做好纳税申报。</p>
		</div>
	</div>
</div>
