<div class="content">
	<h1>{{t.serviceSlogon}}</h1>
	
	<p>
	<div ng-repeat="line in t.serviceBrief" class="desc">
		{{line}}
	</div>
	</p>
</div>
<form class="signup-form" name="signupForm">
	<div class="field">
		<i class="glyphicon glyphicon-envelope"></i>
		<input ng-model="signupEmail" type="text" name="email" placeholder="邮箱" ng-pattern="emailFormat"/>
		<div class="validation-msg yw-animation" ng-show="signupForm.email.$error.pattern" >请输入有效的邮箱地址</div>
	</div><div class="field">
		<i class="glyphicon glyphicon-lock"></i>
		<input ng-model="signinPwd" type="password" name="password" placeholder="密码" ng-trim="true" yw-password/>
	</div><button yw-button><span>注册</span></button>
</form>
<div class="linechart" yw-chart-anim>
	<svg id="SvgjsSvg1000" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1340" height="250" xmlns:xlink="http://www.w3.org/1999/xlink">
		<polygon id="chart-polygon" points="-150,213 150,209 450,130 750,129 1050,65 1350,43 1650,15 1950,250 -150,250" fill="url(#SvgjsLinearGradient1006)" stroke="none">
		</polygon>
		<polyline id="SvgjsPolyline1010" points="-150,213 150,209 450,130 750,129 1050,65 1350,43 1650,15" fill="none" stroke="#e57958" stroke-width="2">
		</polyline>
		<ellipse class="ellipse" rx="8" ry="8" cx="-150" cy="213" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="150" cy="209" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="450" cy="130" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="750" cy="129" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1050" cy="65" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1350" cy="43" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1650" cy="15" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<defs id="SvgjsDefs1001">
			<linearGradient id="SvgjsLinearGradient1006" x1="0" y1="0" x2="0" y2="1">
				<stop id="SvgjsStop1007" stop-opacity="0.5" stop-color="#f6f6f6" offset="0"></stop>
				<stop id="SvgjsStop1008" stop-opacity="1" stop-color="#f6f6f6" offset="1"></stop>
			</linearGradient>
		</defs>
	</svg>
</div>
<div class="background"></div>
