<div class="signup-steps" yw-signup-steps>
	<div class="signup-content">
		<div class="signup-meet">
			<span class="col-ivy">
				<div class="portrait">
					
				</div>
				<div class="signup-p-intro">
					<div class="info">
						<h3>毕业院校</h3>
						<span>McGill University</span>
					</div>
					<div class="info">
						<h3>出生地</h3>
						<span>St. Catharines, ON</span>
					</div>
					<div class="info">
						<h3>最喜欢的食物</h3>
						<span>上海饺子</span>
					</div>
				</div>
			</span><span class="col-evan">
				<div class="portrait">
					
				</div>
				<div class="signup-p-intro">
					<div class="info">
						<h3>毕业院校</h3>
						<span>McGill University</span>
					</div>
					<div class="info">
						<h3>出生地</h3>
						<span>St. Catharines, ON</span>
					</div>
					<div class="info">
						<h3>最喜欢的食物</h3>
						<span>西湖糖醋鱼</span>
					</div>
				</div>
			</span><span class="col-desc">
				<h1>为您提供的财务团队是：Ivy & Evan</h1>
				<p>
					Ivy最喜欢的旅游目的地是日本东京，她非常喜欢看电影和电视剧，她在朋友圈里是出了名的电影通，所有的电影排期以及著名演员的近况都是了如指掌。
				</p>
				<p>
Evan喜欢照相，是一个专业业余摄像师，在他参加职业会计师考试的时候，还尽可能的到户外去进行摄影，他的摄影作品曾获得过国内的大奖。
				</p>
				
				<p class="ss-quote">
					我们正期待与您一起工作---
				</p>
			</span>
			
			<div yw-name-card yw-target=".col-ivy .portrait"></div>
			<div yw-name-card yw-target=".col-ivy .portrait"></div>
		</div>
		
		<div class="signup-progress">
		
		</div>
		
	</div>
</div>
