<div class="content">
	<h1>我们为您提供的服务</h1>

	<div class="row">
		<div class="column">
			<i class="glyphicon glyphicon-briefcase icon-blue"></i>
			<h3>专业记账</h3>
			<p>记账不仅仅是依靠软件即可完成的，青智唯嘉为您提供专业会计人员的记账服务。</p>
		</div><div class="column">
			<i class="glyphicon glyphicon-th-list icon-brown"></i>
			<h3>即时财务数据</h3>
			<p>通过青智唯嘉客户端的报告，您可及时分析您的费用明细。您可以随时查看从银行对账单到原始发票凭证。</p>
		</div><div class="column">
			<i class="glyphicon glyphicon-lock icon-green"></i>
			<h3>银行级数据安全</h3>
			<p>青智唯嘉采用高级别的加密文件来保护你的财务数据，确保您的数据安全不受侵害。</p>
		</div><div class="column">
	</div>
	<div class="row">
		<div class="column">
			<i class="glyphicon glyphicon-qrcode icon-red"></i>
			<h3>无纸化记账</h3>
			<p>通过邮件照片或者快递的形式将您的凭证寄给青智唯嘉，我们将为您扫描并上传到你的账户。</p>
		</div><div class="column">
			<i class="glyphicon glyphicon-user icon-blue"></i>
			<h3>财务专家</h3>
			<p>无论你是对报税、最新的会计准则，或是对投资者的尽职调查与审计有疑问于困惑，青智唯嘉有最专业的人士为您提供帮助与辅导。</p>
		</div><div class="column">
			<i class="glyphicon glyphicon-user icon-brown"></i>
			<h3>税务专家</h3>
			<p>青智唯嘉的专业人士将会与你们一起合作，高效率、高质量地完成你们的纳税申报。</p>
		</div><div class="column">
	</div>
</div>
